<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="page-top">
	<% include partials/header %>
	<section class="">
        <div class="container">
            <div class="row group-selection">
                <div class="col-md-12">
					<select id="all-groups">
						<option value="Allir">Allir</option>
						<% groups.forEach(function(group) { %>
					        <option value="<%= group.id %>"><%= group.name %></option>
					    <% }); %>
					</select>
				</div>
			</div>
			<div class="row">
                <div class="col-sm-1 text-right">Sæti</div>
                <div class="col-sm-3">Keppendur</div>
                <div class="col-sm-1">Hringir</div>
			</div>
			<% 
				var counter = 1;
				results.forEach(function(result) { 
			%>
				<div class="row closed-div" data-result-id="<%= result.id %>" data-group="<%= result.c_group %>" data-db="false">
	                <div class="row">
		                <div class="col-sm-1 text-right counting-place"><%= counter %></div>
		                <div class="col-sm-3"><%= result.name %></div>
		                <div class="col-sm-1"><%= result.laps %></div>
	                </div>
	                <div class="row div-laptimes" style="visibility: 'hidden', display: 'none'">
	                	
	                </div>
				</div>

			<% 
					counter++;
				}); 
			%>
		</div>
	</section>

	<% include partials/footer %>
</body>

<script type="text/javascript">
	$(function() {
		$('#all-groups').on('change', function() {
			var groupId = $(this).val();
			var cnt = 1;
			$('div[data-group]').each(function() {
				if (groupId === 'Allir')
				{
					$(this).show();

					$(this).find('.counting-place').text(cnt);
					cnt++;	
				}
				else
				{
					if ($(this).attr('data-group') !== groupId)
					{
						$(this).hide();
					}
					else
					{
						$(this).show();

						$(this).find('.counting-place').text(cnt);
						cnt++;
					}
				}
			});
		});

		$('div[data-group]').on('click', function() {
			var resultId = $(this).attr('data-result-id');
			var groupDiv = $(this);

			if ($(this).hasClass('closed-div'))
			{
				if ($(this).attr('data-db') === 'false')
				{
					$.ajax({
						url: '/laptimes',
						data: {'id': resultId},
						method: 'GET',
						success: function(results) {
							console.log(results);
							if (results['results'] == true)
							{
								results['laptimes'].forEach(function(laptime) {
									console.log(laptime.laptime);

									groupDiv.find('.div-laptimes').append('<div>'+laptime.laptime+'</div>');
								});
								groupDiv.removeClass('closed-div').attr('data-db', 'true');
								groupDiv.find('.div-laptimes').slideDown();
							}
						}, 
						error: function(error)
						{
							console.log(error);
						}
					});				
				}
				else
				{
					$(this).removeClass('closed-div');
					$(this).find('.div-laptimes').slideDown();
				}
			}
			else
			{
				$(this).addClass('closed-div');	
				$(this).find('.div-laptimes').slideUp();
			}
		})
	});
</script>
</html>
