<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="page-top">
	<% include partials/header %>
	<section class="results-section">
        <div class="container">
            <div class="row group-selection">
                <div class="col-md-12">
					<select id="all-groups">
						<option value="Allir">Allir</option>
						<% groups.forEach(function(group) { %>
					        <option value="<%= group.id %>"><%= group.name %></option>
					    <% }); %>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1"></div>
                <div class="col-xs-1" style="padding-left: 0"><b>Sæti</b></div>
                <div class="col-xs-7"><b>Keppendur</b></div>
                <div class="col-xs-1"><b>Hringir</b></div>
			</div>
			<% 
				var counter = 1;
				results.forEach(function(result) { 
			%>
				<div class="row closed-div" data-result-id="<%= result.id %>" data-group="<%= result.c_group %>" data-db="false">
	                <div class="row">
	                	<div class="col-xs-1"></div>
		                <div class="col-xs-1 counting-place"><%= counter %></div>
		                <div class="col-xs-7"><%= result.name %></div>
		                <div class="col-xs-1"><%= result.laps %></div>
	                </div>
	                <div class="div-laptimes col-lg-12">
	                	<div class="row">
	                		<div class="col-xs-1"></div>
	                		<div class="col-xs-8"><b>Flokkur: </b><%= groups[result.c_group-1].name %></div>
	                	</div>
	                	<div class="row">
	                		<div class="col-xs-1"></div>
	                		<div class="col-xs-8"><b>Heildartími: </b><%= result.total_time %></div>
	                	</div>
	                </div>
				</div>

			<% 
					counter++;
				}); 
			%>
		</div>
		<br><br>
	</section>

	<% include partials/footer %>
</body>

<script type="text/javascript">
	$(function() {
		$('.div-laptimes').hide();
		$('#all-groups').on('change', function() {
			var groupId = $(this).val();
			var cnt = 1;
			$('div[data-group]').each(function() {
				if (groupId === 'Allir') {
					$(this).show();

					$(this).find('.counting-place').text(cnt);
					cnt++;	
				} else {
					if ($(this).attr('data-group') !== groupId) {
						$(this).hide();
					} else {
						$(this).show();

						$(this).find('.counting-place').text(cnt);
						cnt++;
					}
				}
			});
		});

		$('div[data-group]').on('click', function() {
			var resultId = $(this).attr('data-result-id');
			var groupDiv = $(this);

			if ($(this).hasClass('closed-div')) {
				if ($(this).attr('data-db') === 'false') {
					$.ajax({
						url: '/laptimes',
						data: {'id': resultId},
						method: 'GET',
						success: function(results) {
							console.log(results);
							var divString = '';
							var cnt = 0;
							var lap = 1;

							if (results['results'] == true)	{
								results['laptimes'].forEach(function(laptime) {
									console.log(laptime.laptime);

									if (cnt === 0) {
										//groupDiv.find('.div-laptimes').append
										divString += '<div class="row"><div class="col-xs-1"></div>';
									}

									//groupDiv.find('.div-laptimes').append
									divString += '<div class="col-xs-3"><b>'+lap+') </b>'+laptime.laptime+'</div>';

									if (cnt === 2) {
										//groupDiv.find('.div-laptimes').append
										divString += '</div>';
										cnt = 0;
									} else {
										cnt++;
									}
									lap++;
								});
								groupDiv.find('.div-laptimes').append(divString);
								groupDiv.removeClass('closed-div').attr('data-db', 'true');
								groupDiv.find('.div-laptimes').slideDown();
							}
						}, 
						error: function(error) {
							console.log(error);
						}
					});				
				} else {
					$(this).removeClass('closed-div');
					$(this).find('.div-laptimes').slideDown();
				}
			} else {
				$(this).addClass('closed-div');	
				$(this).find('.div-laptimes').slideUp();
			}
		})
	});
</script>
</html>
